<%- include('./partials/header') %>

<% if(success.length>0) { %>
   <div class="absolute top-5 left-1/2 -translate-y-1/2 p-3 rounded-md bg-yellow-500">
     <span class="inline-block mt-1 text-white">
       <%= success %>
     </span>
   </div>
   <% } %>
<div class="min-h-screen flex flex-col">
   <div class="container px-20 py-20 flex flex-grow gap-0">
      <div class="w-[25%] flex  flex-col items-start">
        <div class="flex flex-col">
           <a class="block w-fit mb-2" href="/shop">All Products</a>
           <a class="block w-fit mb-2" href="/owners/admin">Create Product</a>
        </div>
    </div>
    <main class="w-3/4 justify-center items-center  p-8  mr-64 shadow bg-gray-200">
      <h2 class="text-xl font-bold">Create Your Product</h2>
     
       <form action="/products/create" method="post" enctype="multipart/form-data">
         
         <div class="mb-6">
            <h3 class="text-lg font-semibold mb-2">Product Details</h3>
            <div class="mb-4">
              <label class="block mb-2 font-medium">Product Image</label>
              <input name="image" type="file" class="py-2 px-4 rounded" value="select file">
            </div>
         <div class="grid grid-cols-2 gap-4">
            <input name="name" type="text" placeholder="Product Name" class="border p-2 rounded w-full">
            <input name="price" type="text" placeholder="Product Price" class="border p-2 rounded w-full">
            <input name="discount" type="text" placeholder="Discounted Price" class="border p-2 rounded w-full">
         </div>
      </div>
      <div >
         <h3 class="text-lg font-semibold mb-2">Panel Details</h3>
         <div class="grid grid-cols-2 gap-4">
            <input name = "bgcolor" type="text" placeholder="background colour" class="border p-2 rounded w-full">
            <input name = "panelcolor" type="text" placeholder="panel colour" class="border p-2 rounded w-full">
            <input name = "textcolor" type="text" placeholder="text color" class="border p-2 rounded w-full">

         </div>

      </div>
      <input class="px-5 py-2 rounded mt-3 bg-blue-500 text-white" type="submit"
      value="Create New Product">
       </form>
      
      
    </main>
  </div>
</div>
<%- include('./partials/footer') %>