<%-include('./partials/header') %>
<div class="w-full  h-screen ">
  <div class=" flex justify-center items-center m-20 ">
    <h1 class="text-4xl semibold">Welcome To <span class="text-blue-500">Owners </span>Page</h1>
  </div>
  <div class="flex">
    <div class="w-1/2 h-screen flex items-start justify-start">
      <div class="w-full h-screen justify-center items-center px-20 pt-10">
        <h3 class="text-3xl"> Create New <span class="text-blue-500">Admin</span></h3>
        <form action="">
          <input class="w-[80%] block border-[1px] bg-zinc-100 rounded-md border-zinc-200 mt-5 px-2 py-2" type="text" placeholder="name">
          <input class="w-[80%] block border-[1px] bg-zinc-100 rounded-md border-zinc-200 mt-4 px-2 py-2" type="text" placeholder="email">
          <input class="w-[80%] block border-[1px] bg-zinc-100 rounded-md border-zinc-200 mt-4 px-2 py-2" type="password" placeholder="password">
          <input class="rounded-full bg-blue-500 px-3 py-4 mt-2.5 text-white" type="submit" value="Create Admin">
        </form>
      </div>
    </div>
  

    <div class="w-1/2 flex  h-screen flex items-start justify-start">
      <div class="w-full h-screen justify-center items-center px-20 pt-10">
        <h3 class="text-3xl"> Login To <span class="text-blue-500">Admin</span> Account</h3>
        <form action="">
          <input class="w-[80%] block border-[1px] bg-zinc-100 rounded-md border-zinc-200 mt-4 px-2 py-3" type="text" placeholder="email">
          <input class="w-[80%] block border-[1px] bg-zinc-100 rounded-md border-zinc-200 mt-4 px-2 py-3" type="password" placeholder="password">
          <input class="rounded-full bg-blue-500 px-2 py-3 mt-2.5 text-white" type="submit" value="Login Admin">
        </form>
      </div>
    </div>
</div>
</div>